In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('final_dataset.csv')
df.dtypes

Url                   object
BathroomCount        float64
BedroomCount         float64
ConstructionYear     float64
Country               object
District              object
Fireplace            float64
FloodingZone          object
Furnished            float64
Garden               float64
GardenArea           float64
Kitchen               object
LivingArea           float64
Locality              object
MonthlyCharges       float64
NumberOfFacades      float64
PEB                   object
PostalCode           float64
Price                float64
PropertyId             int64
Province              object
Region                object
RoomCount            float64
ShowerCount          float64
StateOfBuilding       object
SubtypeOfProperty     object
SurfaceOfPlot        float64
SwimmingPool         float64
Terrace              float64
ToiletCount          float64
TypeOfProperty         int64
TypeOfSale            object
dtype: object

In [3]:
numerical_dataset = df.drop(columns=['Url','Country','District','Fireplace','FloodingZone','Furnished','Garden','Kitchen','Locality','PEB','PostalCode','PropertyId','Province','Region','StateOfBuilding','SubtypeOfProperty','Terrace','TypeOfProperty','TypeOfSale'])
#print(numerical_dataset.head()) # Debugging
numerical_dataset.corr()

,BathroomCount,BedroomCount,ConstructionYear,GardenArea,LivingArea,MonthlyCharges,NumberOfFacades,Price,RoomCount,ShowerCount,SurfaceOfPlot,SwimmingPool,ToiletCount
BathroomCount,1.000000,0.406800,-0.092355,0.007627,0.029311,0.112536,0.060203,0.364856,0.267518,0.056684,0.003870,0.197057,0.002388
BedroomCount,0.406800,1.000000,-0.151408,0.002714,0.043748,0.039490,0.176660,0.324697,0.336085,0.047862,0.002553,0.168382,0.004089
ConstructionYear,-0.092355,-0.151408,1.000000,-0.075136,-0.016539,-0.084446,0.030399,-0.023491,-0.037808,-0.029993,-0.000515,-0.005547,-0.002683
GardenArea,0.007627,0.002714,-0.075136,1.000000,0.000288,0.215558,0.008839,0.006073,0.091839,0.014629,0.000015,-0.002378,0.000481
LivingArea,0.029311,0.043748,-0.016539,0.000288,1.000000,0.036874,0.015480,0.033966,0.006692,0.002940,0.005774,0.012451,0.000621
MonthlyCharges,0.112536,0.039490,-0.084446,0.215558,0.036874,1.000000,0.009374,0.332179,0.041338,0.025439,0.165225,0.116861,0.107253
NumberOfFacades,0.060203,0.176660,0.030399,0.008839,0.015480,0.009374,1.000000,0.178255,-0.017722,-0.006577,0.007267,0.255081,0.000954
Price,0.364856,0.324697,-0.023491,0.006073,0.033966,0.332179,0.178255,1.000000,0.158198,0.021108,0.010131,0.269984,0.001235
RoomCount,0.267518,0.336085,-0.037808,0.091839,0.006692,0.041338,-0.017722,0.158198,1.000000,0.485254,0.024353,0.000351,0.313032
ShowerCount,0.056684,0.047862,-0.029993,0.014629,0.002940,0.025439,-0.006577,0.021108,0.485254,1.000000,0.000839,0.002996,0.010306
SurfaceOfPlot,0.003870,0.002553,-0.000515,0.000015,0.005774,0.165225,0.007267,0.010131,0.024353,0.000839,1.000000,0.024551,-0.000017
SwimmingPool,0.197057,0.168382,-0.005547,-0.002378,0.012451,0.116861,0.255081,0.269984,0.000351,0.002996,0.024551,1.000000,-0.001364
ToiletCount,0.002388,0.004089,-0.002683,0.000481,0.000621,0.107253,0.000954,0.001235,0.313032,0.010306,-0.000017,-0.001364,1.000000

In [4]:
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

imp_mean = IterativeImputer(random_state=0) 
# random_state=0 so the seed of the pseudo random number generator is controlled -> results will be reproductible

imp_mean.fit([[7, 2, 3], [4, np.nan, 6], [10, 5, 9]])

X = [[np.nan, 2, 3], [4, np.nan, 6], [10, np.nan, 9]]

imp_mean.transform(X)

array([[ 6.95847623,  2.        ,  3.        ],
       [ 4.        ,  2.6000004 ,  6.        ],
       [10.        ,  4.99999933,  9.        ]])

In [5]:
data = {
    'A': [1, 3, np.nan, 5, 5],
    'B': [6, np.nan, 8, 9, 11],
    'C': [11, 10, 13, np.nan, 16]
}
df2 = pd.DataFrame(data)

# Create an IterativeImputer instance
imputer = IterativeImputer()

# Fit and transform the DataFrame
df_imputed = imputer.fit_transform(df2) # fit_transform is more appropriate than fit() and transform() on a single dataset

# Convert the result back to a DataFrame
df_imputed = pd.DataFrame(df_imputed, columns=df.columns)

print(df_imputed)

c:\Users\NGIRA\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\impute\_iterative.py:825: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

ValueError: Shape of passed values is (5, 3), indices imply (5, 32)

# Iterative Imputer for LivingArea

In [ ]:
df = pd.read_csv('final_dataset.csv')

In [ ]:
#df["SubtypeOfProperty"].value_counts()
#print(unique_subtype[['TypeOfProperty','SubtypeOfProperty']])

## Mapping

To change categorical values into numeric ones. (so we can use corr())

In [ ]:
subtype_mapping = {
    'apartment': 1,
    'house': 2,
    'villa': 3,
    'ground_floor': 4,
    'duplex': 5,
    'apartment_block': 6,
    'flat_studio': 7,
    'penthouse': 8,
    'mixed_use_building': 9,
    'service_flat': 10,
    'kot': 11,
    'mansion': 12,
    'town_house': 13,
    'bungalow': 14,
    'loft': 15,
    'exceptional_property': 16,
    'country_cottage': 17,
    'farmhouse': 18,
    'triplex': 19,
    'chalet': 20,
    'other_property': 21,
    'manor_house': 22,
    'castle': 23,
    'pavilion': 24,
    'show_house': 25
}

df['SubtypeOfProperty_Numerical'] = df['SubtypeOfProperty'].map(subtype_mapping)

#unique_subtype = df.drop_duplicates(subset="SubtypeOfProperty")
#print(unique_subtype[['SubtypeOfProperty','SubtypeOfProperty_Numerical']])

In [ ]:

living_area_df = df[['BedroomCount','TypeOfProperty','SubtypeOfProperty_Numerical','LivingArea']]
#living_area_df = df[['BedroomCount','TypeOfProperty','LivingArea']] # first only numerical

living_area_df.info()
print(type(living_area_df))
living_area_df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118714 entries, 0 to 118713
Data columns (total 4 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   BedroomCount                 118714 non-null  float64
 1   TypeOfProperty               118714 non-null  int64
 2   SubtypeOfProperty_Numerical  118714 non-null  int64
 3   LivingArea                   104539 non-null  float64
dtypes: float64(2), int64(2)
memory usage: 3.6 MB
<class 'pandas.core.frame.DataFrame'>

Index(['BedroomCount', 'TypeOfProperty', 'SubtypeOfProperty_Numerical',
       'LivingArea'],
      dtype='object')

In [ ]:
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

living_area_imputer = IterativeImputer(random_state=0)
living_area_df_imputed = living_area_imputer.fit_transform(living_area_df)

#print(type(living_area_df_imputed))
living_area_df_imputed = pd.DataFrame(living_area_df_imputed)
df['LivingArea'] = living_area_df_imputed[3]

print(df[['BedroomCount','TypeOfProperty','SubtypeOfProperty_Numerical','LivingArea','Price']].head())

   BedroomCount  TypeOfProperty  SubtypeOfProperty_Numerical  LivingArea  \
0           1.0               2                            7   29.000000
1          13.0               1                            6  391.000000
2           4.0               1                            2  111.000000
3           4.0               1                            2  231.087976
4           2.0               2                            1   92.000000

      Price
0   99000.0
1  765000.0
2  399000.0
3  230000.0
4  198000.0

In [ ]:
df["Kitchen"].value_counts()

Kitchen
INSTALLED             32623
HYPER_EQUIPPED        19773
SEMI_EQUIPPED          7810
NOT_INSTALLED          3897
USA_HYPER_EQUIPPED     1438
USA_INSTALLED          1288
USA_SEMI_EQUIPPED       201
USA_UNINSTALLED         104
Name: count, dtype: int64

In [ ]:
df['StateOfBuilding'].value_counts()

StateOfBuilding
GOOD              43442
AS_NEW            18969
TO_RENOVATE        7544
TO_BE_DONE_UP      5721
JUST_RENOVATED     5484
TO_RESTORE          462
Name: count, dtype: int64

In [6]:
df['FloodingZone'].value_counts() #60372 missing

FloodingZone
NON_FLOOD_ZONE                                     55998
POSSIBLE_FLOOD_ZONE                                 1519
RECOGNIZED_FLOOD_ZONE                                644
CIRCUMSCRIBED_WATERSIDE_ZONE                          59
POSSIBLE_N_CIRCUMSCRIBED_FLOOD_ZONE                   49
CIRCUMSCRIBED_FLOOD_ZONE                              34
RECOGNIZED_N_CIRCUMSCRIBED_FLOOD_ZONE                 24
POSSIBLE_N_CIRCUMSCRIBED_WATERSIDE_ZONE                9
RECOGNIZED_N_CIRCUMSCRIBED_WATERSIDE_FLOOD_ZONE        6
Name: count, dtype: int64

In [10]:
df['TypeOfSale'].value_counts()

TypeOfSale
residential_sale            104948
residential_monthly_rent     13451
annuity_monthly_amount         199
annuity_without_lump_sum       109
annuity_lump_sum                 4
homes_to_build                   3
Name: count, dtype: int64

In [17]:
monthly_charges_df = df[df['MonthlyCharges'] > 0]
#print(monthly_charges_df)
monthly_charges_df['TypeOfSale'].value_counts()

TypeOfSale
residential_monthly_rent    7313
annuity_monthly_amount       199
Name: count, dtype: int64

In [18]:
df[df['TypeOfSale'] == 'residential_monthly_rent']

,Url,BathroomCount,BedroomCount,ConstructionYear,Country,District,Fireplace,FloodingZone,Furnished,Garden,...,RoomCount,ShowerCount,StateOfBuilding,SubtypeOfProperty,SurfaceOfPlot,SwimmingPool,Terrace,ToiletCount,TypeOfProperty,TypeOfSale
6,https://www.immoweb.be/en/classified/house/for...,4.0,6.0,1970.0,Belgium,Nivelles,1.0,NON_FLOOD_ZONE,NaN,1.0,...,NaN,0.0,GOOD,villa,2519.0,NaN,1.0,5.0,1,residential_monthly_rent
11,https://www.immoweb.be/en/classified/apartment...,1.0,3.0,NaN,Belgium,Brussels,NaN,NON_FLOOD_ZONE,NaN,NaN,...,6.0,2.0,GOOD,apartment,NaN,0.0,1.0,3.0,2,residential_monthly_rent
23,https://www.immoweb.be/en/classified/apartment...,1.0,0.0,NaN,Belgium,Brussels,NaN,NaN,NaN,NaN,...,NaN,1.0,JUST_RENOVATED,flat_studio,NaN,NaN,NaN,1.0,2,residential_monthly_rent
95,https://www.immoweb.be/en/classified/apartment...,1.0,1.0,1920.0,Belgium,Brussels,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,duplex,NaN,NaN,1.0,NaN,2,residential_monthly_rent
170,https://www.immoweb.be/en/classified/house/for...,4.0,6.0,NaN,Belgium,Brussels,NaN,NON_FLOOD_ZONE,NaN,NaN,...,NaN,NaN,AS_NEW,villa,0.0,1.0,1.0,6.0,1,residential_monthly_rent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118645,https://www.immoweb.be/en/classified/apartment...,1.0,2.0,1989.0,Belgium,Brugge,1.0,NON_FLOOD_ZONE,NaN,NaN,...,NaN,1.0,GOOD,apartment,NaN,0.0,NaN,1.0,2,residential_monthly_rent
118658,https://www.immoweb.be/en/classified/apartment...,1.0,1.0,2014.0,Belgium,Antwerp,NaN,NON_FLOOD_ZONE,NaN,NaN,...,NaN,0.0,GOOD,apartment,NaN,NaN,1.0,1.0,2,residential_monthly_rent
118692,https://www.immoweb.be/en/classified/house/for...,1.0,2.0,1899.0,Belgium,Gent,NaN,NON_FLOOD_ZONE,NaN,NaN,...,1.0,0.0,AS_NEW,house,0.0,NaN,NaN,2.0,1,residential_monthly_rent
118706,https://www.immoweb.be/en/classified/apartment...,1.0,1.0,1971.0,Belgium,Mouscron,NaN,NaN,NaN,NaN,...,NaN,1.0,GOOD,apartment,NaN,NaN,NaN,1.0,2,residential_monthly_rent
118713,https://www.immoweb.be/en/classified/apartment...,2.0,3.0,NaN,Belgium,Brussels,NaN,NON_FLOOD_ZONE,NaN,NaN,...,NaN,NaN,GOOD,apartment,NaN,NaN,1.0,3.0,2,residential_monthly_rent